<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
    	<!--
    	%-5level
    	The priority of the logging event should be left justified to a width of five characters.
    	 
    	logger{precision}
    	When the precision specifier is a positive integer, print the corresponding number of rightmost logger name components.
    	
    	nano
    	Outputs the result of System.nanoTime() at the time the log event was created.
    	 -->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout>
            	<Pattern>%d{COMPACT} %-5level %logger{6} - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="LogToFile" fileName="logs/trafficgencl.log">
            <PatternLayout>
                <Pattern>%d %nano %-5level %logger{6} - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="it.unibo.ff185.trafficgencl" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
